.main {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 50px;
    display: block;
    width: 1220px;
    height:100%;
    overflow:auto;
}

.route-body {
    margin-left:35px;
    height:600px;
}

.footer-body {
    margin-left:35px;
}

span{
    color:  #5383d3;
}

h1 {
    color:  black;
    font: normal 70px 'Cookie', cursive;
    margin: 0;
}