main {
    padding-top: 1em;
    padding-left:20em;
    padding-right:20em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    display: block;
}

.route-body {
    margin-left:35px;
    height:600px;
}

.footer-body {
    margin-left:35px;
}