<footer class="footer-distributed">

    <div class="footer-left">

        <h3>Online<span>Calculators</span></h3>

        <p class="footer-links">
        <a routerLink="./HOME.Calculator"  title="HOME">HOME</a>
        <a routerLink="./SI.Calculator"  title="SI">SI</a>
        <a routerLink="./FD.Calculator"  title="FD">FD</a>
        <a routerLink="./PPF.Calculator"  title="PPF">PPF</a>
        <a routerLink="./PF.Calculator"  title="PF">PF</a>
        <a routerLink="./Calculator"  title="Calculator">CALCULATOR</a>
        </p>

        <p class="footer-company-name">CALCULATORS &reg; 2017 Reserved</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>ISB Road</span> Hyderabad, India</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+7 669 376499</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:rockchandan102@gmail.com">rockchandan102@gmail.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the website</span>
            This is a Calculaters Utility Website Created BY- Chandan Gupta
        </p>

        <div class="footer-icons">
            <span>Follow us on</span>
            <a href="https://www.facebook.com/calculatorsonlinein-229138864179311/?fref=ts"><i class="fa fa-facebook"></i></a>

        </div>

    </div>

</footer>
