<ul>
    <li><a routerLink="./HOME.Calculator" routerLinkActive="active" title="HOME">HOME</a></li>
    <li><a routerLink="./SI.Calculator" routerLinkActive="active" title="SI">SIMPLE&nbsp;INTEREST&nbsp;CALCULATOR</a></li>
    <li><a routerLink="./FD.Calculator" routerLinkActive="active" title="FD">FIXED DEPOSIT CALCULATOR</a></li>
    <li><a routerLink="./PPF.Calculator" routerLinkActive="active" title="PPF">PPF CALCULATOR</a></li>
    <li><a routerLink="./PF.Calculator" routerLinkActive="active" title="PF">PF CALCULATOR</a></li>
    <li><a routerLink="./Calculator" routerLinkActive="active" title="Calculator">CALCULATOR</a></li>
</ul>
