<div class="maindiv">
    <div class="leftdiv">
        <table>
            <caption>PF RESULTS</caption>
            <tr [class.invalid]="a.value < 0">
                <td><p>Basic Salary:</p></td>
                <td><p>{{a.value}}</p></td>
            </tr>
            <tr [class.invalid]="emp.value < 0 || emp.value > 100">
                <td><p>Employee Contribution:</p></td>
                <td><p>{{emp.value}}%</p></td>
            </tr>
            <tr [class.invalid]="cmp.value < 0 || cmp.value > 100">
                <td><p>Employer Contribution</p></td>
                <td><p>{{cmp.value}}%</p></td>
            </tr>
            <tr [class.invalid]="i.value < 0 || i.value > 100">
                <td><p>Current Interest Rate:<br><small>(per year)</small></p></td>
                <td><p>{{i.value}} %</p></td>
            </tr>
            <tr [class.invalid]="y.value < 0 || y.value%1!==0">
                <td><p>Years: </p></td><td><p>{{y.value}}</p></td>
            </tr>
            <tr>
                <td><p>Total Interest:<br><small>(Round Off)</small></p></td>
                <td><h1 class="result"> {{si}}</h1></td>
            </tr>
            <tr>
                <td><p>Total Cummulative Amount:<br><small>(Round Off)</small></p></td>
                <td><h1 class="result"> {{cint}}</h1></td>
            </tr>
        </table>
    </div>
    <div class="watermark"><h1>EPF</h1></div>
    <div>
        <table>
            <caption>PF Calculator</caption>
            <tr>
                <td><p>Basic Salary:</p></td>
                <td><input [(ngModel)]="amt" type="number" #a (keyup)="calculate()" [class.invalid]="a.value < 0" class="text" placeholder="Enter Basic Salary"></td>
            </tr>
            <tr>
                <td><p>Employee Fund:<br><small>(In Percent)</small></p></td>
                <td><input [(ngModel)]="employee" type="number" #emp (keyup)="calculate()" [class.invalid]="emp.value < 0 || emp.value > 100" class="text" placeholder="Employee(% of Basic)"></td>
            </tr>
            <tr>
                <td><p>Employer Fund:<br><small>(In Percent)</small></p></td>
                <td><input [(ngModel)]="employer" type="number" #cmp (keyup)="calculate()" [class.invalid]="cmp.value < 0 || cmp.value > 100" class="text" placeholder="Employer(% of Basic)"></td>
            </tr>
            <tr>
                <td>Current Interest Rate:<br><small>(per year)</small></td>
                <td><input [(ngModel)]="interest" type="number" #i (keyup)="calculate()" [class.invalid]="i.value < 0 || i.value >100" class="text" placeholder="Current Interest Rate">
                </td>
            </tr>
            <tr>
                <td>Time Period:</td>
                <td>
                    <input [(ngModel)]="years" type="number" #y (keyup)="calculate()" [class.invalid]="y.value < 0 || y.value%1!==0" class="text" placeholder="Number of Years">&nbsp;Years
                </td>
            </tr>
        </table>
        <p>(Interest Compounded Yearly)</p>
    </div>
</div>
